.page__header {
    grid-area: header;
    background: var(--white);
}

.page__header-nav-box {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 64px;
}

.page__header-nav {
    display: none;
}

@media screen and (min-width: 1280px) {
    .page__header-nav-item {
        margin-right: 24px;
    }

    .page__header-nav-item:last-child {
        margin-right: 0;
    }

    .page__header-nav-link {
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
    }

    .page__header-nav-link:hover {
        text-decoration: underline;
    }

    .page__header-nav {
        display: flex;
        flex-direction: row;
    }

    .page__header-nav-box {
        flex-direction: row;
        justify-content: space-between;
    }
}