.page__main {
    grid-area: main;
}

@media screen and (min-width: 1280px) {
    .page__main {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
            "main-menu component";
        column-gap: 56px;
        width: 100%;
        height: 100%;
    }
}
