.avatar {
    width: 102px;
    height: 102px;
}

.avatar__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatar_sm {
    width: var(--small);
    height: var(--small);
}

.avatar_lg {
    width: var(--large);
    height: var(--large);
}
