@use "../../variables.scss" as variables;

.page {
    font: 400 16px "Inter", sans-serif;
    line-height: 24px;
    color: variables.$black;

    &__box {
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
    }
}
