.header {
    padding-top: 96px;
    padding-bottom: 56px;
}

.header__nav-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    flex-direction: row;
}

.header__nav-item {
    margin-right: 24px;
}

.header__nav:last-child {
    margin-right: 0;
}

.header__nav-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.header__nav-link:hover {
    text-decoration: underline;
}
