.modal__window {
    position: fixed;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    padding: 30px 40px;
    transform: translate(-50%, -50%);
    background: var(--white);
    display: none;
    flex-direction: column;
    border-radius: 8px;
}

.modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0000007f;
    display: none;
}

.modal__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--grey-4);
}

.modal__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    transform: translate(50%, -50%);
}

.modal__close:hover {
    background: var(--red);
    cursor: pointer;
}

.modal__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.modal_preview {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 8px;
}

.modal__backdrop_preview {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #0000003f;
}

.modal__window_preview {
    position: relative;
    display: block;
}
