.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--grey-3, #ACB5BD);
    border-radius: 0.5em;
    width: 100%;
    min-width: 304px;
    padding: 28px 30px 40px 30px;
    font-family: "Inter", sans-serif;
}

.calendar__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 1.5em;
}

.calendar__wraper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.calendar__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
    display: flex;
    color: #334D6E;
    justify-content: center;
    align-items: center;
}

.calendar__item_start-date {
    background-color: var(--blue);
    color: var(--white);
}

.calendar__item_end-date {
    background-color: var(--blue);
    color: var(--white);
}

.calendar__item_highlight-date {
    background-color: #A0B1F5;
}
