@use '../variables.scss' as variables;

.accordion {
    color: var(--second-color);
    &__item {
        box-sizing: border-box;
        width: 100%;
        min-height: 72px;
        border: 1px solid var(--main-color);
        border-radius: 8px;
        padding: 24px 32px;
        margin-bottom: 8px;
        font: 400 1em 'Inter', sans-serif;
        line-height: 24px;
        min-height: max-content;
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    &__summary {
        display: flex;
        justify-content: space-between;
    }
    &__summary::-webkit-details-marker {
        display: none;
    }
    &__content {
        margin-top: 16px;
    }
    &__item[open] &__arrow {
        transform: rotate(180deg);
    }
}
