@mixin hover($color) {
    background: lighten($color, 20%);
}
@mixin active($color) {
    background: lighten($color, 40%);
}

.button {
    box-sizing: border-box;
    height: 48px;
    border: 2px solid $primary;
    border-radius: 8px;
    color: $white;

    /* button primary */
    &_primary:hover,
    &_secondary:hover,
    &_alternate:hover {
        cursor: pointer;
    }
    &_primary:disabled,
    &_secondary:disabled,
    &_alternate:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    &_primary {
        background-color: $primary;
    }
    &_primary:hover {
        @include hover($primary)
    }
    &_primary:active {
        @include active($primary);
    }

    /*button secondary */
    &_secondary {
        background-color: $secondary;
    }
    &_secondary:hover {
        @include hover($secondary)
    }
    &_secondary:active {
        @include active($secondary)
    }

    /*button alternate */
    &_alternate {
        color: $grey-4;
        background-color: $alternate;
        border-color: $grey-3;
    }

    &_alternate:hover {
        border-color: lighten($grey-3, 20%)
    }
    &_alternate:active {
        border-color: lighten($grey-3, 40%)
    }
}

.normal, .lighten, .darken {
    width: 100px;
    height: 100px;
}
$test-color: mediumblue;
.normal {
    background: $test-color;
}
.lighten {
    background: lighten(mediumblue, 20%);
}
.darken {
    background: darken($test-color, 20%);
}
