@use '../variables.scss' as variables;

.button {
    box-sizing: border-box;
    height: 48px;
    border: 2px solid var(--primary);
    border-radius: 8px;
    color: var(--main-background);

    &_primary:hover,
    &_secondary:hover,
    &_alternate:hover {
        cursor: pointer;
    }
    &_primary:disabled,
    &_secondary:disabled,
    &_alternate:disabled {
        pointer-events: none;
        opacity: .5;
    }
    &_primary {
        background: var(--primary);
    }
    &_primary:hover {
        background: var(--primary-hvr);
    }
    &_primary:active {
        background: var(--primary-act);
    }

    &_secondary {
        background: var(--secondary);
    }
    &_secondary:hover {
        background: var(--secondary-hvr);
    }
    &_secondary:active {
        background: var(--secondary-act);
    }

    &_alternate {
        color: var(--grey-4);
        background-color: var(--alternate);
        border-color: var(--alternate-brd);
    }
    &_alternate:hover {
        border-color: var(--alternate-brd-hvr);
    }
    &_alternate:active {
        border-color: var(--alternate-brd-act);
    }
    &_preview {
        display: block;
        width: 100%;
        margin-bottom: 16px;
    }
}
