.footer {
    text-align: center;
    padding: 56px 0;

    &__title {
        font-size: 38px;
        font-weight: 500;
        line-height: 48px;
    }
    &__description {
        max-width: 640px;
        margin: 0 auto;
    }
}
