@use '../variables.scss' as variables;

.header {
    padding: 16px 16px 69px 16px;
    background: var(--main-background);

    &__logo {
        color: var(--main-color);
    }
    &__nav-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
    }
    &__nav-box {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
    &__nav, &__nav-wrapper .theme-toggler {
        display: none;
    }
    &__title {
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0;
        text-align: left;
        color: var(--second-color);
    }
    &__nav-item {
        margin-right: 24px;
    }
    &__nav-item:last-child {
        margin-right: 56px;
    }
    &__nav-link {
        text-decoration: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        text-align: right;
        color: var(--grey-3);
    }
    &__nav-item:first-child &__nav-link {
        color: var(--main-color);
    }
    &__nav-link:hover {
        text-decoration: none;
    }
    &__nav-link:visited {
        color: var(--grey-3);
    }
    &__nav-item:first-child &__nav-link:visited {
        color: var(--main-color);
    }
    @include variables.media-pc {
        & {
            padding: 24px 0 77px 0;
        }
        &__title {
            font-size: 50px;
            font-weight: 500;
            line-height: 64px;
            text-align: left;
        }
        &__nav-wrapper {
            margin-bottom: 40px;
        }
        &__nav, &__nav-wrapper .theme-toggler {
            display: flex;
        }
        &__nav-box {
            justify-content: space-between;
            align-items: center;
        }
    }
}
