@use "../variables.scss" as variables;

.preview-flex {
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    &__modal {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 8px;
    }
    &__button, &__accordion {
        display: flex;
        flex-direction: column;
    }
    &__button {
        align-items: center;
    }
    &__accordion {
        align-items: flex-start;
    }
    &__checkbox, &__radio, &__toggler {
        padding-left: 33%;
        align-items: flex-start;
    }
    @include variables.media-tab {
        &__container {
            grid-template-columns: 1fr 1fr;
        }
    }
    @include variables.media-pc {
        &__container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
