@use "../variables.scss" as variables;

.radio {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.radio__native {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    outline: none;
    opacity: 0;
}

.radio__text {
    color: variables.$grey-4;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 12px;
}

.radio__box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid variables.$grey-2;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.radio__img {
    display: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: variables.$blue;
}

.radio__box, .radio__text {
    cursor: pointer;
}

.radio__native:checked ~ .radio__box {
    border: 2px solid variables.$blue;
}

.radio__native:checked ~ .radio__box .radio__img {
    display: block;
}

.radio__native:disabled ~ .radio__box {
    background: variables.$grey-2;
    border: 2px solid variables.$grey-3;
    pointer-events: none;
}

.radio__native:disabled ~ .radio__box .radio__img {
    background: variables.$grey-3;
}

.radio__native:disabled ~ .radio__text {
    opacity: 0.5;
    pointer-events: none;
}

.radio__native:focus ~ .radio__text {
    text-decoration: underline;
}
