@use '../variables.scss' as variables;

.tabs {
    &__switcher,
    &__content {
        display: none;
    }
    &__item {
        position: relative;
        margin-right: 40px;
        padding-bottom: 8px;
    }
    &__item:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 0;
        border-top: 5px solid var(--main-color);
    }
    &__item:hover &__title {
        color: var(--main-color);
        transition: color 200ms ease-in-out;
    }
    &__item:hover:after {
        width: 100%;
        transition: width 200ms ease-in-out;
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__scroller {
        display: flex;
        flex-wrap: nowrap;
        transform: translate(0, -37px);
    }
    &__title {
        color: var(--grey-3);
        cursor: pointer;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        white-space: nowrap;
    }
    &__content {
        padding: 68px 0;
    }
    #all-tab:checked ~ &__scroller #all-lbl:after,
    #elements-tab:checked ~ &__scroller #elements-lbl:after,
    #containers-tab:checked ~ &__scroller #containers-lbl:after,
    #templates-tab:checked ~ &__scroller #templates-lbl:after {
        width: 100%;
    }
    #all-tab:checked ~ &__scroller #all-lbl &__title,
    #elements-tab:checked ~ &__scroller #elements-lbl &__title,
    #containers-tab:checked ~ &__scroller #containers-lbl &__title,
    #templates-tab:checked ~ &__scroller #templates-lbl &__title {
        color: var(--main-color);
    }
    #all-tab:checked ~ &__content_all,
    #elements-tab:checked ~ &__content_elements,
    #containers-tab:checked ~ &__content_containers,
    #templates-tab:checked ~ &__content_templates {
        display: block;
    }
}
