@use '../variables.scss' as variables;

.tabs {
    &__switcher,
    &__scroller,
    &__content {
        display: none;
    }
    &__item {
        margin-right: 40px;
        padding-bottom: 8px;
        border-bottom: 5px solid transparent;
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__title {
        color: variables.$grey-3;
        cursor: pointer;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
    }
    &__content {
        padding: 68px 0;
    }
    #all-tab:checked ~ &__scroller #all-lbl,
    #elements-tab:checked ~ &__scroller #elements-lbl,
    #containers-tab:checked ~ &__scroller #containers-lbl,
    #templates-tab:checked ~ &__scroller #templates-lbl {
        border-bottom: 5px solid variables.$black;
    }
    #all-tab:checked ~ &__scroller #all-lbl &__title,
    #elements-tab:checked ~ &__scroller #elements-lbl &__title,
    #containers-tab:checked ~ &__scroller #containers-lbl &__title,
    #templates-tab:checked ~ &__scroller #templates-lbl &__title {
        color: variables.$black;
    }
    #all-tab:checked ~ &__content_all,
    #elements-tab:checked ~ &__content_elements,
    #containers-tab:checked ~ &__content_containers,
    #templates-tab:checked ~ &__content_templates {
        display: block;
    }
    @include variables.media-pc {
        &__scroller {
            display: block;
            transform: translate(0, -100%) translate(0, -12px);
            background: variables.$white;
        }
    }
}
