@use "../variables.scss" as variables;

.theme-toggler {
    display: flex;
    align-items: center;
    
    &__toggler {
        margin: 0 20px;
    }
    &__sun, &__moon {
        color: var(--grey-3);
    }
    &_burger {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 78px;
        border-top: 1px solid var(--grey-2);
        border-bottom: 1px solid var(--grey-2);
        justify-content: space-between;
    }
    &__native:checked ~ &__variables :root {
            --white: #ffffff;
            --black: #212429;
            --red: #F03D3E;
            --purple: #7048E8;
            --blue: #4263EB;
            --grey-1: #F8F9FA;
            --grey-2: #DDE2E5;
            --grey-3: #ACB5BD;
            --grey-4: #495057;

            --main-background: var(--black);
            --main-color: var(--white);
            --main-page-clr: #001713;

            --button-clr: var(--white);
            --primary: var(--blue);
            --primary-hvr: #5d7aee;
            --primary-act: #264de8;

            --secondary: var(--purple);
            --secondary-hvr: #8665ec;
            --secondary-act: #5c2ee5;

            --alternate: var(--white);
            --alternate-clr: var(--grey-4);
            --alternate-brd: var(--grey-3);
            --alternate-brd-hvr: #c1c7cd;
            --alternate-brd-act: #99a4ad;

            --open-hvr: var(--grey-2);
            --close-hvr: var(--red);

            --invalid: #F03D3E;
            --success: var(--blue);
            --disabled: #0000003f;
    }
}

