@use "../variables.scss" as variables;

.theme-toggler {
    display: flex;
    align-items: center;
    
    &__toggler {
        margin: 0 13px;
    }
    &__sun, &__moon {
        color: var(--grey-3);
    }
    &_burger {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 78px;
        border-top: 1px solid var(--grey-2);
        border-bottom: 1px solid var(--grey-2);
        justify-content: space-between;
    }
}

