.checkbox {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.checkbox__native {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.checkbox__text {
    color: var(--grey-4);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 12px;
}

.checkbox__box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    width: 28px;
    height: 28px;
}

.checkbox__img {
    display: none;
    color: var(--white);
    stroke-width: 3px;
}

.checkbox__box, .checkbox__text {
    cursor: pointer;
}

.checkbox__native:checked ~ .checkbox__box {
    background: var(--blue);
}

.checkbox__native:checked ~ .checkbox__box .checkbox__img {
    display: block;
}

.checkbox__native:disabled ~ .checkbox__box {
    opacity: 0.5;
    pointer-events: none;
}

.checkbox__native:disabled ~ .checkbox__text {
    opacity: 0.5;
    pointer-events: none;
}

.checkbox__native:focus ~ .checkbox__text {
    text-decoration: underline;
}
