@use '../../variables.scss' as variables;

.tabs-code {
    &__switcher,
    &__item {
        position: relative;
        margin-right: 40px;
        padding-bottom: 8px;
    }
    &__item:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 0;
        border-top: 5px solid var(--main-color);
    }
    &__item:hover &__title {
        color: var(--main-color);
        transition: color 200ms ease-in-out;
    }
    &__item:hover:after {
        width: 100%;
        transition: width 200ms ease-in-out;
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__scroller {
        display: flex;
        flex-wrap: nowrap;
        transform: translate(0, -32px);
        padding: 0 16px;
    }
    &__title {
        color: var(--grey-3);
        cursor: pointer;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        white-space: nowrap;
    }
    &__switcher, &__content {
        display: none;
    }
    &__content {
        width: 100%;
    }
    #html-tab:checked ~ &__scroller #html-lbl:after,
    #css-tab:checked ~ &__scroller #css-lbl:after,
    #java-script-tab:checked ~ &__scroller #java-script-lbl:after {
        width: 100%;
    }
    #html-tab:checked ~ &__scroller #html-lbl &__title,
    #css-tab:checked ~ &__scroller #css-lbl &__title,
    #java-script-tab:checked ~ &__scroller #java-script-lbl &__title {
        color: var(--main-color);
    }
    #html-tab:checked ~ &__content_html,
    #css-tab:checked ~ &__content_css,
    #java-script-tab:checked ~ &__content_java-script {
        display: block;
    }
}
