/* Error: Undefined variable.
 *    ,
 * 20 |         border: 1px solid variables.$gray-3;
 *    |                           ^^^^^^^^^^^^^^^^^
 *    '
 *   src\components\histogram.scss 20:27  @use
 *   src\index.scss 4:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 20 \2502          border: 1px solid variables.$gray-3;\d\a    \2502                            ^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\components\\histogram.scss 20:27  @use\a   src\\index.scss 4:1                   root stylesheet";
}
