$page-width: 1110px;

@mixin box-shadow {
    box-shadow: 0px 2px 4px 0px #2124290D;
}

@mixin media-pc {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin media-tab {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-phone {
    @media screen and (min-width: 400px) {
        @content;
    }
}

:root {
    --white: #ffffff;
    --black: #212429;
    --red: #F03D3E;
    --purple: #7048E8;
    --blue: #4263EB;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --main-background: var(--white);
    --main-color: var(--black);
    --main-page-bgr: #F9FAFC;

    --button-clr: var(--white);
    --primary: var(--blue);
    --primary-hvr: #5d7aee;
    --primary-act: #264de8;

    --secondary: var(--purple);
    --secondary-hvr: #8665ec;
    --secondary-act: #5c2ee5;

    --alternate: var(--white);
    --alternate-clr: var(--grey-4);
    --alternate-brd: var(--grey-3);
    --alternate-brd-hvr: #c1c7cd;
    --alternate-brd-act: #99a4ad;

    --open-hvr: var(--grey-2);
    --close-hvr: var(--red);

    --invalid: #F03D3E;
    --success: var(--blue);
    --disabled: #0000003f;
}

@keyframes checkbox-shadow {
    0% {box-shadow: 0 0 0 0 var(--grey-2);}
    50% {box-shadow: 0 0 16px 32px transparent;}
    100%{box-shadow: none;background: var(--blue);}
}

@keyframes hist-height {
    0% {height: 0%;}
    100% {height: 100%;}
}

@keyframes background-move {
    0% {background-position: 100%;}
    100% {background-position: -100%;}
}
